.home-container {
    height: 450px;
    width: 100%;
    position: relative;
}
.home-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.home-text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 160px;
    top: 240px;
    background-color: #888888ad;
    padding: 15px 35px;
}

.home-title{
    font-size: 2rem;
    font-weight: bolder;
    color: black;
    text-shadow: #b9b9b9 -6px -3px 12px;
}

.home-description{
    font-weight: 400;
    text-shadow: #000 1px 0 10px;
}